body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
    font-family: Arial, sans-serif;
}

#main{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right:10px;
    padding-top:10px;
    margin: 12px auto;
    max-width: 800px;
    text-align: center;
}

#sub{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#hab {
    position: relative;
    padding-right: 30px;
}

#hab::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #999;
}
