body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
}

#main{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right:10px;
    padding-top:10px;
    margin: 12px auto;
    max-width: 800px;
    text-align: center;
}

#sub{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
